<div class="h-[800px]  mx-auto flex items-center justify-center inline-block align-middle ">
  <div class="bg-white p-8 rounded shadow-md w-96 border border-gray-300">
    <h2 class="text-2xl font-bold mb-4 text-center align-center">Register</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      
    <div class="mb-4">
      <%= f.label :full_name, "Full Name", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :full_name, autofocus: true, autocomplete: "name", class: "mt-1 p-2 w-full border rounded-md shadow-sm" %>
    </div>
      
    <div class="mb-4">
      <%= f.label :email, "Email", class: "block text-sm font-medium text-gray-700" %>
      <%= f.email_field :email, autocomplete: "email", class: "mt-1 p-2 w-full border rounded-md shadow-sm" %>
    </div>
      
    <div class="mb-4">
      <%= f.label :password, "Password", class: "block text-sm font-medium text-gray-700" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 p-2 w-full border rounded-md shadow-sm" %>
    </div>
      
    <div class="mb-4">
      <%= f.label :password_confirmation, "Confirm Password", class: "block text-sm font-medium text-gray-700" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 p-2 w-full border rounded-md shadow-sm" %>
    </div>
      
    <div>
      <%= f.submit "Register", class: "w-full bg-black text-white py-2 rounded-md" %>
    </div>
    <% end %>
    <div class="pt-4 content-center">
      <%= render "devise/shared/links" %>
    </div> 
  </div>
</div>